# ignore all files in any directory named ml_model
ml_model/
data/data_npy_old/
data/data_raw_old/
data/info_old/
data/tfr_shallue/
data/test/npy/
data/test/raw/
data/train/npy/
data/train/raw/
data/vald/npy/
data/vald/raw/
hello/
__pycache__/
data/random/npy/
data/random/raw/
lightcurve_simulation/data_npy/batman_R0.2152_ldc_0.5_0.05.csv
data/train/info/lc_10_shape_5_multisize_multiLDC_details/
data/test/info/lc_shape_1_multisize_multiLDC_2_details/
data/test/info/lc_shape_1_multisize_multiLDC_3_details/
data/test/info/lc_shape_2_multisize_multiLDC_1_details/