# ignore all files in any directory named ml_model
ml_model/
data/data_npy/
data/data_raw/
data/info/
data/tfr_shallue/
data/test/npy/
data/test/raw/
data/train/npy/
data/train/raw/
data/vald/npy/
data/vald/raw/
hello/
__pycache__/